
.subtitle {
    background-color: #E02B40;
    padding: 20px;
}
.subtitle h2 {
    text-align: center;
    color: white;
}
.text{
    text-align: justify;
   
}
.individual-actions {
    text-align: left;
    padding: 50px 20px;
    background-color: #EDEBE0;
}

.individual-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px; /* Espacio entre los cuadros */
    padding: 20px;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: justify;
    width: 900px;
}

.box h3 {
    margin-top: 0;
    font-size: 20px;
    color: #000000; /* Color de título */
}
.box p {
    margin-bottom: 0;
    font-size: 16px;
    color: #333;
}

.img-individual {
    width: 100px; /* Puedes ajustar el tamaño según la imagen */
    height: auto;
    margin-right: 20px; /* Espacio entre el texto y la imagen */
    padding-right: 100px;
    padding-left: 100px;
}
.img-collective {
    width: 100px;
    height: auto;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    padding-right: 100px;
    padding-left: 100px;
}


/* Sección de Ideas Colectivas */
.collective-actions {
    text-align: left;
    padding: 50px 20px;
    background-color: #FFC4BD;
}

.collective-actions h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.collective-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px; /* Espacio entre los cuadros */
    padding: 20px;
}

.collective-boxes .box {
    background-color: #ffe0b2;
    
}

.idea-boxes .box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.idea-boxes .box p {
    font-size: 16px;
}
.letter {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


